
Welcome to NQC!

Release Notes, Errata: https://www.frebsd.org/releases/
Security Advisories:   https://www.frebsd.org/security/
NQC Handbook:      https://www.frebsd.org/handbook/
NQC FAQ:           https://www.frebsd.org/faq/
Questions List:        https://www.frebsd.org/lists/questions/
NQC Forums:        https://forums.frebsd.org/

Documents installed with the system are in the /usr/local/share/doc/nqc/
directory, or can be installed later with:  pkg install en-nqc-doc
For other languages, replace "en" with a language code like de or fr.

Show the version of NQC installed:  nqc-version ; uname -a
Please include that output and any error messages when posting questions.
Introduction to manual pages:  man man
NQC directory layout:      man hier

To change this login announcement, see motd(5).
